@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Echantillon
<form method="post" action="@Url.Action("AjouterEchantillon", "Utilisateurs")">
    <div class="border pt-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary"> Créer un Echantillon </h2>
            <hr />
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="EchantillonID" class="p-0"></label>
            <input asp-for="EchantillonID" class="form-control" />
            <span asp-validation-for="EchantillonID" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="PatientID" class="p-0"></label>
            <input asp-for="PatientID" class="form-control" />
            <span asp-validation-for="PatientID" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="AnalyseID" class="p-0"></label>
            <input asp-for="AnalyseID" class="form-control" />
            <span asp-validation-for="AnalyseID" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Resultat" class="p-0"></label>
            <input asp-for="Resultat" class="form-control" />
            <span asp-validation-for="Resultat" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Statut" class="p-0"></label>
            <input asp-for="Statut" class="form-control" />
            <span asp-validation-for="Statut" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Patient" class="p-0"></label>
            <input asp-for="Patient" class="form-control" />
            <span asp-validation-for="Patient" class="text-danger"></span>
        </div>
        <div class="mb-3 row p-1">
            <label asp-for="Analyse" class="p-0"></label>
            <input asp-for="Analyse" class="form-control" />
            <span asp-validation-for="Analyse" class="text-danger"></span>
        </div>
        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Ajouter </button>
            </div>
           
        </div>

    </div>
</form>



